* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 325px;
    margin: 0;
    padding: 0;
    border: solid 2px #664121;
    background-color: #000000;
    overflow: hidden;
    box-sizing: border-box;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none;
}

#mainWatchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dateContainer {
    margin-top: 20px;
}

.dateDigit {
    color: #684629;
}

#watchContainer {
    margin-top: 10px;
}

.digit {
    color: #684629;
    font-weight: bold;
}

.navContainer {
    display: flex;
    justify-content: center;
    color: #684629;
}

#yearContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: #684629;
    font-size: 2.8em;
}

#monthContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    color: #684629;
    font-size: 1.5em;
}

.arrows {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#daysOfWeek {
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100px;
    height: 50px;
    border: 1px solid  #684629;
    color: #64472e;
    background-color: #421e01;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weeks {
    display: flex;
    justify-content: center;
}

.cases {
    width: 100px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid  #4d3d2f;
    color: #64472e;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cases:hover {
    background-color: #352212;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.8em;
    transition: 0.1s;
}

.activeDay {
    font-weight: bold;
    font-size: 1.8em;
    background-color: #352212;
}